* {
  margin: 0;
  padding: 0;
}

.rootWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  .toolBars {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .tool {
      //width: 20px;
      //height: 20px;
      line-height: 32px;
      border: 1px solid black;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .flowWrapper {
    width: 100%;
    height: ~'calc(100% - 64px)';
    background: red;
  }
}
